{% extends "PadelLeagueBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Select league</h1>

    <form action="{{ path('teams') }}" method="post" {{ form_enctype(form) }} id="login">
        {{ form_widget(form) }}
        <input type="submit" class="symfony-button-grey" value="GO" />
    </form>
{% endblock %}

{% set code = code(_self) %}