{% extends "PadelLeagueBundle::layout.html.twig" %}

{% block content_header_more %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
        <li>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('logout') }}">Logout</a></li>
    {% endif %}
{% endblock %}
